/* Payment.module.css */
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardWrapper {
  position: relative;
}

.cardBackground {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0 12px;
  border: 1px solid #dadde0;
  background-color: #fbfbfb;
  z-index: 1;
}

.card {
  position: relative;
  width: calc(100% - 40px);
  border-radius: 12px 12px 0 12px;
  border: 1px solid #dadde0;
  padding: 20px 20px 34px;
  background: #fbfbfb;
  z-index: 2;
}

.section {
  margin-bottom: 24px;
}

.section:last-child {
  margin-bottom: 0;
}

.img {
  margin: 0 auto 22px;
}

.section2 {
  margin-top: 32px;
  margin-bottom: 40px;
}

.sectionTitle {
  margin-bottom: 12px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  color: #495057;
}

.couponInput {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.input {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  min-width: 100px;

  border-radius: 0px 12px 12px 12px;
  border: 1px solid var(--line-less-highlight, #dadde0);
  background: var(--box-default, #fbfbfb);
}

.input:disabled {
  background-color: #f8f9fa;
}

.couponButton {
  display: flex;
  width: 100px;
  height: 39px;
  padding: 11px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--line-stay-the-same, #222);
  background: var(--keycolor-2, #6314e4);
  color: var(--text-on-keycolor, #fff);
  text-align: center;
  min-width: 100px;
}

.couponButton:disabled {
  background-color: #adb5bd;
  cursor: not-allowed;
}

.couponApplied {
  color: #40c057;
  font-size: 14px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  color: #495057;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  margin-top: 8px;
  border-top: 1px solid #e9ecef;
  font-weight: 500;
}

.highlight {
  color: var(--keycolor-2, #6314e4);
}

.paymentMethods {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.paymentMethod {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.paymentMethod:hover {
  border-color: var(--keycolor-2, #6314e4);
}

.radio {
  margin-right: 8px;
  margin-top: -1px;
  width: 16px;
  height: 16px;
  accent-color: var(--keycolor-2, #6314e4);
}

.agreement {
  display: flex;
  align-items: center;
  margin: 24px 0;
  cursor: pointer;
  color: #495057;
  font-size: 14px;
}

.checkbox {
  margin-top: 60px;
  margin-bottom: 30px;
}

.payButton {
  display: flex;
  width: 100%;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  border-radius: 16px 16px 0px 16px;
  border: 1px solid #dadde0;
  background: var(--keycolor-2, #6314e4);
  color: var(--text-on-keycolor, #fff);
}

.payButton:hover:not(.disabled) {
  background-color: #364fc7;
}

.disabled {
  background-color: #fbfbfb;
  cursor: not-allowed;
  color: #bbbbbb;
}
