.layout {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 36px;
}

.content {
  width: 100%;
  max-width: var(--max-width);
  box-sizing: border-box;
}
