.layout {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

.content {
  width: 100%;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 36px;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .content {
    max-width: 100%;
  }
}
